@import "tailwindcss";

@font-face {
    font-family: "CaveatBrush";
    src: url("/fonts/CaveatBrush-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Bounded";
    src: url("/fonts/Bounded-Variable.ttf") format(truetype);
}

@theme {
    --font-caveat: "CaveatBrush";
    --font-bounded: "Bounded";
}

* {
    @apply transition-colors duration-500;
}

@theme {
    --color-main: #FFE699;
    
    --color-popup: #FFFCEB;
    --color-popup-hover: #b0b0b0;
    --color-text-popup: #000;

    --color-header: #FFA347;
    --color-text-header: #000;

    --color-primary: #E48525;
    --color-text-primary: #000;

    --color-btn-primary-hover: #f29f4b;
    --color-btn-primary-click: #faad5f;

    --color-link: #0066cc;
    --color-link-hover: #004999;
    --color-link-click: #003366;

    --color-secondary: #FFF4D5;
    --color-text-secondary: #000;

    --color-sidebar-item-selected: #e6d8b3;  
    --color-sidebar-item-text: #5e5e5e;
    --color-sidebar-item-text-selected: #000;

    --color-switch-background: #FFE55F;
    --color-switch-circle: #88CC30;
    --color-switch-icon: #FAFF00;

    --color-scrollbar: #ffa42e;

    --color-input: #ffffff;
    --color-text-input: #000000;
}

.dark {
    --color-main: #032225;

    --color-popup: #2f2f2f;
    --color-popup-hover: #3f3f3f;
    --color-text-popup: #fff;

    --color-header: #072a2d;
    --color-text-header: #fff;

    --color-primary: #0ba13d;
    --color-text-primary: #000;

    --color-btn-primary-hover: #0a6b2a;
    --color-btn-primary-click: #084d1e;

    --color-link: #4da6ff;
    --color-link-hover: #1a8cff;
    --color-link-click: #006bb3;

    --color-secondary: #063438;
    --color-text-secondary: #fff;

    --color-sidebar-item-selected: #042d30; 
    --color-sidebar-item-text: #ababab;
    --color-sidebar-item-text-selected: #fff;

    --color-switch-background: #A6A6A6;
    --color-switch-circle: #000;
    --color-switch-icon: #fff;

    --color-scrollbar: #0e4c51;

    --color-input: #263637;
    --color-text-input: #FFFFFF;
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}